Repository fawq/Rython: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, fmt, cargo-check, clippy

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [file, python]
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [file, python]
    - id: mypy
      name: mypy
      entry: poetry run mypy
      language: system
      types: [file, python]
    - id: fmt
      name: fmt
      description: Format files with cargo fmt.
      entry: cargo fmt
      language: system
      types: [rust]
      args: ["--"]
    - id: cargo-check
      name: cargo check
      description: Check the package for errors.
      entry: cargo check
      language: system
      types: [rust]
      pass_filenames: false
    - id: clippy
      name: clippy
      description: Lint rust sources
      entry: cargo clippy
      language: system
      args: ["--", "-D", "warnings"]
      types: [rust]
      pass_filenames: false

Add new dependencies
  Cargo.lock
  Cargo.toml
  poetry.lock
  pyproject.toml
Due: none

Add dependencies
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add pre-commit
  poetry.lock
  pyproject.toml
Due: none

Bump version
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add new function fib_mod
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/cli/main.py
  python/cli/utility.py
  python/rython/rython_calc.pyi
  src/lib.rs
  test/rython/test_rython_calc.py
Due: black, isort, mypy, fmt, cargo-check, clippy

Refactore
  python/cli/main.py
  python/cli/utility.py
  src/lib.rs
  test/rython/test_rython_calc.py
Due: black, isort, mypy, fmt, cargo-check, clippy

Add new names
  python/cli/main.py
Due: black, isort, mypy

Update dependencies
  Cargo.lock
  Cargo.toml
  poetry.lock
  pyproject.toml
Due: none

Upgrade libraries
  Cargo.lock
  Cargo.toml
  README.md
  poetry.lock
  pyproject.toml
Due: none

Add new version
  Cargo.lock
  Cargo.toml
  poetry.lock
  pyproject.toml
Due: none
